.message {
    text-align: center;
    margin-top: 50px;
}

.flash-messages {
    list-style-type: none;
    padding: 0;
}

.flash-messages li {
    background-color: #FFFFCC;
    border: 1px solid #CCCC99;
    padding: 10px;
    margin-bottom: 10px;
}

h1 {
    color: #FF0000;
    font-size: 36px;
}

input[type="text"] {
    margin-top: 10px;
}

input[type="submit"] {
    margin-top: 10px;
}
